*{
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
/* This is the sticky first section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem;
    position: sticky;
    z-index: 10;
}

.logo-figure{
    border: 1px solid white;
}
.logo{
    font-size: 4rem;
}
.nav_link{
    font-size: 1.5rem;
    color: aliceblue;
    cursor:pointer;
}

nav ul{
    display: flex;
    gap: 1rem;
}
nav ul li{
    padding: 1rem;
    transition:all 0.4s;
}
nav ul li:hover{
    background-color:chocolate;
    border-radius: .6rem;
}


/* This is the main body section one*/
.main_section_one{


    justify-content: center;
    align-items: center;
    
}
.image_one{
    height: 20rem;
    width:100%;

}
.article_one{
margin: 1rem;
}
.h1_one{
    background-color: chocolate;
    display: inline-block;
    padding: .5rem;
}
.para_one{
    text-align: justify;
    margin-bottom: 5rem;
}